<html>

<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel=stylesheet href="/static/zero.css" />
	<link rel=stylesheet href="/static/pure-min.css" />
	<link rel=stylesheet href="/static/side-menu.css" />
	<link rel=stylesheet href="/static/index.css" />

	<script type=text/javascript src=/static/jquery.js></script>
	<script type=text/javascript src=/index.js></script>

</head>


<body>

	<div id="menu"> 
		<div class="pure-menu">
			<a class="pure-menu-heading" href="/">Title</a>
			<ul class="pure-menu-list">
				<li class="pure-menu-item"><a href="/{{ admin }}?action=posts">posts</a></li>
				<li class="pure-menu-item"><a href="/{{ admin }}?action=comments">comments</a></li>
				<li class="pure-menu-item"><a href="/{{ admin }}?action=media">media</a></li>
			</ul>
		</div>
	</div>

	
	<div id=main>
		tiddly	
	</div>


</body>

</html>
